// * API
$store-host: "";

// * Colors
$white: #FFFFFF;
$main-white: #FBF6F6;
$white-smoke: #FBF5F5;
$dusty-gray: #B59797;
$night-rider: #3C2A2A;
$beaver: #8D6B5D;
$swamp: #181B1B;
$black: #000000;

// *border-radius:

