

@import '../node_modules/scss-reset/_reset.scss';
@import "styles/index";

html {
  &.no-body-scroll {
    overflow: hidden;
    height: 100%;
  }
}

body {
  width: calc(100vw - (100vw - 100%));
  min-width: 320px;
  font-family: 'Cormorant', serif;

  &.no-body-scroll {
    overflow: hidden;
    height: inherit;
  }
}


